<section class="word__card">
  <span class="word__word">{{word?.word}}
    <i class="material-icons word__lookup" (click)="lookup()">
      search
    </i>
  </span>
  <div class="word__define">
    <app-word-definition-list [definitions]="word?.definitions"></app-word-definition-list>
  </div>

  <i class="material-icons word__star" (click)="toggleStarred()" [@star]="word?.starred ? 'active' : 'inactive'">
    {{word?.starred ? 'star' : 'star_border'}}
  </i>
  <i class="material-icons word__remove" (click)="remove()">
    delete_forever
  </i>
</section>