@import "../../../styles/global";

.word__card {
  display: grid;
  grid-template-columns: 1fr 2rem;
  grid-template-rows: 1fr 1rem 3rem;
  grid-template-areas: 
  "word star"
  "define ."
  "define remove";
  grid-gap: 0.2rem;
  box-shadow: 0 1rem 3rem 0.5rem $primary;
  justify-items: left;
  align-items: center;
  padding: 0rem 1rem;
  margin: 2rem;
  width: 15rem;
  background-color: $light;
  border-radius: 0.5rem;
}

.word__word {
    padding: 1rem 0rem;
    grid-area: word;
}
.word__define {
  display: flex;
  align-self: flex-start;
  grid-area: define;
}

%word--action {
  cursor: pointer;

  display: flex;
  justify-self: center;
  align-self: center;
}

.word__star {
  @extend %word--action;
  grid-area: star;
  color: $highlight;
  &:hover {
    color: $highlight-accent;
  }
}

.word__remove {
  @extend %word--action;
  grid-area: remove;
  
  color: $danger;
  &:hover {
    color: $danger-accent;
  }
}