.word__card {
    display: grid;
    grid-template-columns: 1fr 2rem;
    grid-template-rows: 1fr;
    box-shadow: 0 0 2rem rgba(0, 0, 255, 0.1);
    justify-items: left;
    align-items: center;
    padding: 0.2rem;
    padding-left: 1rem;
    margin: 2rem;
    width: 10rem;
    height: 3.1rem;
    // cursor: pointer;
    background-color: white;
    border-radius: 1.75rem;
    animation: 1.25s ease-in-out 0ms 1 fadein;
  }

  .word__remove {
      cursor: pointer;
      height: 3rem;
      width: 2rem;
      box-shadow: 0 0 2rem rgba(0, 0, 255, 0.1);
      border-radius: 1.75rem;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-color: transparent;
      background-color: #FF003E;
  }