$primary: #273c75;
$primary-accent: #192a56;

$secondary: #fbc531;
$secondary-accent: #e1b12c;

$light: #f5f6fa;
$light-accent: #dcdde1;

$dark: #353b48;
$dark-accent: #2f3640;

$success: #4cd137;
$success-accent: #44bd32;

$danger: #e84118;
$danger-accent: #c23616;

$info: #00a8ff;
$info-accent: #0097e6;

$highlight: #fbc531;
$highlight-accent: #e1b12c;
