@import "../../../styles/global";

.word-add__form {
    height: 60px;
    display: grid;
    grid-template-columns: 200px 50px;
}

.word-add__input {
    padding: 0px 20px;
    height: calc(100% - 10px);
    border-radius: 25px 0px 0px 25px;
    border-width: 5px;
    border-style: solid;
    border-color: $primary;
}

.word-add__submit{
    cursor: pointer;
    display: flex;
    justify-content: center;
    color: $light;

    padding: 0px 20px;
    height: 100%;
    border-radius: 0px 25px 25px 0px;
    border-width: 5px;
    border-style: solid;
    border-color: $primary;
    background-color: $success;

    &:hover {
        color: $light-accent;
        background-color: $success-accent;
    }
}