@import '../../../styles/global';

.definition__wrapper{
    display: flex;
    flex-direction: column;
}

.word__part-of-speech {
    color: $primary;
    font-style: italic;
}

.word__definition {
    color: $info;
}